/*--- GLOBALES ---*/
h2
{
    /*float: right;
    margin: 1vw 30vw 1vw 0vw;*/
    font-family: 'Raleway';

    margin: auto;
}


/*--- CLASES E IDES ---*/
.noventa
{
    max-width: 70%;
    margin-left: 15% !important;

    box-shadow: #c9c9c9 0px 0px 10px 5px;
    padding: 1%;
    border-radius: 15px;
    margin: 3%;
}

.grid_2 > img
{
    /*float: left;*/
    align-items: left;
    margin: 7% 0% 0% 3%;
    width: 38%;
}

.grid_2 > div
{
    float: right;
    /*align-items: right;*/
    width: 55%;
}

.grid_2 > div > p
{
    font-size: 1vw;
}

.grid_4
{
    /*width: auto;*/
    padding: 30px 0px 30px 0px;

    margin: auto;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid_4 > div, .grid_3 > div
{
    display: inline-block !important;
    /*height: 100%;*/
}

.grid_4 > div > img, .grid_3 > div > img
{/*
    width: 80%;
    max-height: 300px;
    max-width: 250px;

    display: inline-block;
    vertical-align: middle;

    margin: 10px 10px 10px 10px;*/
    /*margin: 0 auto;*/

    margin: 30px;
    max-width: 250px;
    width: 68%;
    max-height: 300px;

    vertical-align: middle !important;
    transform: translateY(-50%);
}

.grid_3
{
    /*width: auto;*/
    padding: 30px 0px 30px 0px;

    margin: auto;
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.h2_2
{
    /*margin: 0vw -10vw 0vw 0vw !important;*/
    display: grid;
    grid-template-columns: 1fr;
}

.h2_texto
{
    display: block;
    float: right;
    margin: 1% 35% 1% 0% !important;
}

.h2_texto > h2
{
    width: 100%;
}

.bajar
{
    margin-top: 5rem;
}

/*
    display: inline-block !important;
    vertical-align: middle !important;
*/